<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue l3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="vue.js"></script>
    <style>
        .wrapper{
            padding: 15px;
            max-width: 500px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="l3-form">
        <form v-on:submit.prevent>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <div v-for="field in info">
                <v-input v-bind:field="field"></v-input>
            </div>
            <button class="btn btn-primary">
                Send Data
            </button>
        </form>
        <div>
            <table class="table table-bordered">
                <tr v-for="field in info">
                    <td>{{field.name}}</td>
                    <td>{{field.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="form.js"></script>
</body>
</html>